<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hardware</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<nav>
    <a href="/"> Home </a>
    <a href="/cpu"> CPU </a>
    <a href="/gpu"> GPU </a>
    <a href="/storage"> Storage </a>
</nav>
