<%- include('partials/header.ejs') %>
<h1>CPU</h1>
<main>
    <img src="/img/cpu.png">
    <p>
        THe CPU is what many people refer to as the brain of the computer. CPU stands for central processing unit, and
        is
        the location of the circuitry that handles logical processes for the computer. When your computer is running a
        program, all of the commands and inputs you enter are passed on to the CPU for processing. When the CPU receives
        these it will run the inputs through its circuitry. While in the CPU, depending on what is being sent,
        electrical
        impulses will only be passed through to certain areas because of the logic gates its contains. This means that
        all
        of the logical processes and decisions your computer makes about your inputs are passed through the CPU.
    </p>
</main>
<%- include('partials/footer.ejs') %>
