<%- include('partials/header.ejs') %>
<h1>GPU</h1>
<main>
<img src="/img/gpu.jpg">
<p>
    A GPU is a specialized processing unit that deals with mostly graphics related data. When a program is running and
    needs to output complicated images to the screen, the GPU is what will perform the operations necessary to calculate
    the colors needed for each pixel on your monitor. A computer can contain a dedicated graphics card, or have
    integrated graphics. Integrated graphics rely on chips on the motherboard itself and the CPU in order to process
    graphical calculations. These can be advantageous because of pricing and size, but dedicated graphics cards produce
    much more speed and power. One of the reasons GPUs are more effective than CPUs for processing graphics is because
    they are structured in a way with their circuitry and memory to be more effective at matrix-based calculations, which
    are important for graphics rendering.
</p>
</main>
<%- include('partials/footer.ejs') %>
