<%- include('partials/header.ejs') %>
<h1>Computer Hardware</h1>
<main>
    <img src="/img/computer.png" alt="computer">
    <p>
        Computer hardware refers to all of the physical components that go into the functioning of a computer. These can
        include external components: mouse, keyboard, monitor etc, or internal components: hard drive, RAM, motherboard,
        CPU, or GPU. Over the years hardware has evolved and gained immense amounts of power while becoming increasingly
        compact. Each unit of the computer comes together to perform a specific function in order to work in the way
        that we expect. The main units of hardware covered in the site are the CPU, the brain of the computer, the
        GPU, the device that makes the visuals possible, and the storage units, hard drives and solid state drives that
        store information.
    </p>
</main>
<%- include('partials/footer.ejs') %>
