<%- include('partials/header.ejs') %>
<h1>Storage</h1>
<main>
    <img src="/img/harddrive.jpg">
    <p>
        Storage for computers comes in many different forms and serves different purposes in this modern era. There are
        three main stages of storage: primary, secondary, and tertiary. Primary stages of memory are directly accessible
        by
        the CPU. These include things like the registries and caches within the CPU itself. These are very small amounts
        of
        data but are able to be accessed at high speeds. This also includes RAM. RAM is not directly in the CPU, but the
        CPU
        can pull memory directly from RAM for processing. After these faster forms of storage are the secondary stages
        of
        memory. In modern computers these include mainly spinning disk hard drives and solid state drives. Unlike
        primary
        storage these cannot be accessed directly by the CPU but are still somewhat fast to access. These will have data
        persist even if the computer is off. Tertiary storage is storage outside of the computer. These include things
        like
        cloud storage and external drives.
    </p>
</main>
<%- include('partials/footer.ejs') %>
